APP_PORT=8000
APP_HOST=localhost


JWT_SIGN_KEY=greatest-secret-ever
JWT_ISSUER=my-beatiful-company
HAMC_KEY=greatest-secret-ever
PEPPER=greatest-secret-ever


# Postgres Live
DB_HOST=postgres                    
# DB_HOST=127.0.0.1                             # when running the app without docker 
DB_PORT=5432 
DB_DRIVER=postgres                          
DB_USER=cozy
DB_PASSWORD=password
DB_NAME=gofiber-app

# Used by pgadmin service 
PGADMIN_DEFAULT_EMAIL=live@admin.com
PGADMIN_DEFAULT_PASSWORD=password