# text editor
.vscode/

# jetbrains IDEs
.idea/

# swagger docs
api/docs/

# static files
static

# postgres persistence folder
postgres_data

# mongo persistence folder
mongodata
# Log
*.log
.debug
tmp

# Env
*.env

# misc
.DS_Store